/* Paths */
$imgPath: "../images/";
$fontPath: "../fonts/";

/* Font family variables */
$familyMuseo: "museo300", "arial", "sans-serif";
$familySans: "museoSans300", "arial", "sans-serif";

$color_error_bg: #fcdddd;
$color_error_border: #fc7d7d;
